.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #735c79;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.img{
  height: 300px;
  width: 500px;
  
}
.name-address{
  padding-left: 40px;
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}